<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>product</th>
        <th>category</th>
        <th>price</th>
    </tr>
    <tr th:each="product: ${productList}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.product}"></td>
        <td th:text="${product.category}"></td>
        <td th:text="${product.sale_price}"></td>
    </tr>
</table>

</body>
</html>